@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
    background-image: url(../img/espaco.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

form {
    width: 45%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

fieldset {
    background-color: #04162d;
    border-style: none;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.35);
}

legend {
    text-align: center;
    font-weight: bold;
    font-family: "Segoe UI";
    font-size: 22px;
    color: #ffffff;
    background-color: rgb(11, 5, 65);
    padding: 1.2rem 10rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    letter-spacing: 3px;
}

input {
    width: 100%;
    margin: 0;
    border-radius: 5px;
    padding: 10px;
}

input[type=date], input[type=text],input[type=tel],input[type=email] {
    margin-top: .4rem;
}

.formInput textarea {
    margin-top: .4rem;
    width: 107%;
}

.formInput {
    margin: 1rem 20%;
    color: #ffffff;
    font-size: 15px;
}

.genero {
    display: flex;
}

.btnEnviar {
    width: 8rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    margin: 0 6rem;
    text-transform: uppercase;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.35);
    background-color: #2255a794;
    color: #ffffff;
    border-style: none;
}

.btnEnviar:hover, .btnEnviar:focus {
    background-color: #6da6da;
    transition: .4s;
}
