body {
    background-image: url(../img/espaco.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

form {
    margin: 0 35%;
    background-color: #112f5944;
}

fieldset {
    border-style: none;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.35);
}

legend {
    text-align: center;
    font-style: bold;
    font-family: "Segoe UI";
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
}
input {
    width: 100%;
    margin: 0;
    border-radius: 5px;
    padding: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;

}

.formInput {
    margin: 1rem 20%;
    color: #ffffff;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

.genero {
    display: flex;
    ;
}
